@import "mixins.less";
@import "variables.less";

@import "./bootswatch/paper/bootswatch.less";
@import "../bootstrap/less/bootstrap.less";


div {
	.user-select(none);

}

* {
	cursor: default;

	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

	 font-weight: 400;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}

#app {

}
